In [1]:
def add_numbers(x,y):
    return x+y
add_numbers(3,5)

8

In [3]:
def add_numbers(x,y,z=None):
    if z==None:
        return x+y
    else:
        return x+y+z
print(add_numbers(3,4))
print(add_numbers(7,5,3))

7
15

In [7]:
def add_numbers(x,y,z=None,flag=False):
    if (flag):
        print("flag is true")
    if z==None:
        return x+y
    else:
        return x+y+z
print(add_numbers(3,7,flag=True))

flag is true
10

In [8]:
def add_numbers(x,y):
    return x+y
a=add_numbers(3,5)
print(a)

8

In [9]:
type(1)

int

In [10]:
type(1.0)

float

In [11]:
type("Vishali")

str

In [12]:
type(add_numbers)

function

In [14]:
type((1,'t',5,'3'))

tuple

In [15]:
type([1,'f',5,'5'])

list

In [16]:
x=[3,'y',7,'kj']
x.append(6.7)
print(x)

[3, 'y', 7, 'kj', 6.7]

In [18]:
for i in x:
    print(i)

3
y
7
kj
6.7

In [19]:
i=0
while i<len(x):
    print(x[i])
    i+=1

3
y
7
kj
6.7

In [20]:
[1,5]+[8,8]

[1, 5, 8, 8]

In [21]:
x=[9,6]
y=[5,7]
x+y

[9, 6, 5, 7]

In [26]:
y=[[4,2],[],[4,2]]
for i in y:
    i.append(2)
print(y)

[[4, 2, 2], [2], [4, 2, 2]]

In [27]:
[8]*5

[8, 8, 8, 8, 8]

In [28]:
3 in x

False

In [30]:
't' in x

False

In [31]:
6 in [5,6]

True

In [32]:
x="Vishali and Aishwarya were sisters."
x[0:6]

'Vishal'

In [33]:
x[6:9]

'i a'

In [34]:
x[4:]

'ali and Aishwarya were sisters.'

In [35]:
x[9]

'n'

In [41]:
first_name='Vishali'
last_name='ramu'
print(first_name+' '+last_name)
print(first_name * 3)
print('shali'in first_name)
print('chithu' in last_name)

Vishali ramu
VishaliVishaliVishali
True
False

In [46]:
a='Vishali is the name of the daughter of Ramu'
b=a.split(' ')
print(a)
print(b)
print(b[0]+' '+b[-1])

Vishali is the name of the daughter of Ramu
['Vishali', 'is', 'the', 'name', 'of', 'the', 'daughter', 'of', 'Ramu']
Vishali Ramu

In [48]:
'ramu'+str(2)

'ramu2'

In [50]:
x={'vishali':'rvishali1610@gmail.com','ramu':'mramu_2000@yahoo.com','chithra':'chithracc04@gmail.com','aishu':'aishu180806@gmail.com'}
x['vishali']

'rvishali1610@gmail.com'

In [53]:
x['aishu2']=None
x['aishu2']

In [54]:
for names in x:
    print(x[names])

rvishali1610@gmail.com
mramu_2000@yahoo.com
chithracc04@gmail.com
aishu180806@gmail.com
None

In [57]:
for email in x.values():
    print(email)

rvishali1610@gmail.com
mramu_2000@yahoo.com
chithracc04@gmail.com
aishu180806@gmail.com
None

In [58]:
for name,email in x.items():
    print(name)
    print(email)

vishali
rvishali1610@gmail.com
ramu
mramu_2000@yahoo.com
chithra
chithracc04@gmail.com
aishu
aishu180806@gmail.com
aishu2
None

In [59]:
b=['Vishali','ramu',20,'rvishali1610@gmail.com','Rajalakshmi institute of technology']
fname,lname,age,email,college=b

In [60]:
fname

'Vishali'

In [61]:
age

20

In [62]:
email

'rvishali1610@gmail.com'

In [63]:
college

'Rajalakshmi institute of technology'

In [64]:
lname

'ramu'

In [65]:
g=['Vishali',2,'ramu']
fname,lname=g

ValueError: too many values to unpack (expected 2)

In [70]:
s={'fname':'vishali','lname': 'ramu','dob':2000,'present':2020}
sentence='The age of {} {} is {} '
print(sentence.format(s['fname'],s['lname'],s['present']-s['dob']))

The age of vishali ramu is 20